@media (min-width: 768px) {
  #navMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  #menuToggle {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  section {
    grid-column: span 1;
  }

  section.courses {
    grid-column: span 2;
  }
}