@media (min-width: 640px) {

  body {
    padding: 2rem;
  }

  header img {
    height: 60px;
  }


  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
  }

  main > h1 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    color: #335c67;
  }

  section.about-me {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  section.student-photo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.web-courses {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  /* Filters - horizontal layout */
  .filters {
    flex-direction: row;
    justify-content: space-between;
  }

  .filters button {
    flex: 1;
    margin: 0 0.25rem;
  }

  #courseContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}